@{
    ViewBag.Title = "Tietoa";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Tähän harjoitukseen on käytetty tiekantana TilausDB tietokantaa, jota on käytetty edellisissä tehtävissä ja harjoituksissa Tietokantakursseissa</p>


<p>@ViewBag.Herja</p>