@{
    ViewBag.Title = "Yhteystiedot";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Kalastajakylä<br />
    Laiduntie 6<br />
    <abbr title="Puhelin">P:</abbr>
    040123123123
</address>

<address>
    <strong>Ota Yhteyttä:</strong>   <a href="mailto:Riku@kalakauppa.com">riku@kalakauppa.com</a><br />
</address>