@using System.Globalization
@{
    ViewBag.Title = "Etusivu";

}

<div class="jumbotron">
    <h1>Rikun Kalakauppa</h1>
    <p class="lead">Kaloja joka lähtöön!</p>
    <h3>@ViewBag.LoginMessage</h3>

    <p>Nyt on @DateTime.Now.ToString(new CultureInfo("fi-FI"))</p>
</div>