@using System.Globalization
@{
    ViewBag.Title = "Etusivu";

}

<div class="jumbotron">
    <h1>Mr Fisherman - Onlinevarasto</h1>
    <p class="lead">@ViewBag.frontTeksti</p>
    <h3>@ViewBag.LoginMessage</h3>

    <p>Nyt on @DateTime.Now.ToString(new CultureInfo("fi-FI"))</p>
</div>